body {
  background: #0a0a0d;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #15151c;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
}
button {
  margin-top: 10px;
  padding: 10px 16px;
  background: #4a4aff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: #6a6aff;
}
a { color: #59f; }
